<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Environments</h2>
      <i class="devicon-netbeans-plain colored"></i>
      <i class="devicon-eclipse-plain colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <p>Proficient in development environments including NetBeans, Eclipse, VS Code, and Xcode, enabling efficient coding, 
        debugging, and project management across multiple platforms.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i> 
      <i class="devicon-cplusplus-plain colored"></i>
      <p>Skilled in Java, C++, HTML, CSS, JavaScript, and Python for software development, 
        web design, and related projects.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-figma-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>Skilled in creative design software, including Adobe Photoshop/InDesign/Illustrator,
        Figma, and Procreate, for producing professional-quality graphics, layouts, and digital illustrations.</p>
    </div>
</div>
