 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-html5-plain-wordmark"></i> <!--change these images-->
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Skilled in Java, C++, HTML, CSS, JavaScript, and Python for software development, 
        web design, and related projects.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-javascript-plain colored"></i>  <!--change these images-->
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Skilled in creative design software, including Adobe Photoshop, Adobe InDesign, 
        Figma, and Procreate, for producing professional-quality graphics, layouts, and digital illustrations.</p>
    </div>
    <div class="tech">
      <h2>Environments</h2>
      <i class="devicon-git-plain"></i> <!--change these images-->
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Proficient in development environments including NetBeans, Eclipse, VS Code, and Xcode, enabling efficient coding, 
        debugging, and project management across multiple platforms.</p>
    </div>
</div>
