<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Resume" href="https://docs.google.com/document/d/e/2PACX-1vQII-nYj00hEHNrUNOnunUF0IiC4u2OSLvhfdgi96G-QKjBcl6RNjSEUoYQxt84vpZavqoBLrsb8U6F/pub?embedded=true"><i class="icon fa fa-regular fa-file"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/mary-mctarsney/"><i class="icon fa fa-brands fa-linkedin"  aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/mmct1"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Featured Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
