#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}
.user > .tech {
  flex: 1 1 300px;   /* each box starts at 300px, grows & shrinks equally */
  min-width: 250px;  /* don’t get too narrow on smaller screens */
  box-sizing: border-box;
}

.user-details {
  text-align: center;
  margin: 5px auto;
}